@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

body, .button {
  font-family: 'Open Sans', sans-serif;
}

a, a:hover {
  color: #00997a;
}

.logo {
  margin: 0;
  border-radius: 0
}

.masthead {
  margin-bottom: 0rem;
}

.masthead-right {
  display: block;
  margin-bottom: 1rem;
}

@media (min-width: 30rem) {
  .masthead-right {
    float: right;
    margin-bottom: 0;
  }
}

.team-photo {
  border-radius: 0;
  width: 100%;
}

.author {
  border-radius: 50%;
}